#logo{
    width: 90px;
    height: 90px;
}

.navbar li{
    border: 2px solid rgb(255 183 0) ;
    float: left;
    list-style: none;
    padding: 3px 3px;
    margin: 13px 20px;

}
.navbar li a{
    text-decoration: none;
}